html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main-content {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 100px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.footer-link {
    margin-right: 30px;
}

.footer-image {
    height: 60px;
}

.container {
    margin: 20px;
}

#navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6E6E6;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navlia {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding-top: 42px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 6px;
    border: 1px transparent solid;
}

.navlia:hover {
    border: 1px white solid;
}

table.borders {
    border-collapse: collapse;
}

table.borders, table.borders tr, table.borders td {
    border: 2px solid black;
}

table.borders td {
    width: 30%;
}

.translation-cell-content {
    padding: 4px;
    border: 1px solid black;
    cursor: pointer;
}

#translate {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 25px;
}

.translation-box {
    width: 498px;
    height: 250px;
    resize: none;
    font-size: 20px;
    padding: 0px;
}

.translation-cell-content:hover {
    background-color: #D8D8D8;
}

#translate:hover {
    background-color: #D8D8D8;
}

#support-title {
    text-align: center;
    font-size: 14px;
}

@keyframes uploading {
    from {color: black;}
    to {color: red;}
}

#uploadstatus {
    animation-name: uploading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#editmetadata {
    float: left;
    position: relative;
    left: 10px;
    display: none;
}

#filename {
    position: relative;
    top: 5px;
    max-width: 228px;
    word-wrap: break-word;
    display: inline-block;
}

#uploadfiles {
    display: inline;
    float: right;
    position: relative;
    right: 10px;
}

.header-cell {
    text-align: center;
    height: 33px;
}

.content-cell {
    vertical-align: top;
    height: 500px;
}

.tree-list {
    padding-left: 20px;
    list-style-type: none;
}

.bottom-cell {
    height: 33px;
}

.error, .uploaderror {
    color: red;
}

#upload-forms {
    font-size: 14px;
}

.show-form-button {
    font-size: 14px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #D8D8D8;
}

.show-form-button:hover {
    background-color: #D8D8D8;
}

