<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Translate</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div id="main-content">
    <div id="body">  
      <ul id="navul" style="background-image: url('static/images/banner.jpg')">
        <li class="left"><a href="https://blogs.helsinki.fi/fiskmo-project/"><img class="navlia"  src="{{ url_for('static', filename='images/logo-fiskmo-white.png') }}" style="height: 67px; padding: 0px 0px"></a></li>
        {% if session.logged_in %}
        <li class="right"><a class="navlia" href="/logout">logout</a></li>
        <li class="right"><a class="navlia" href="/userpage"><span id="username">{{ session.username }}</span></a></li>
        {% else %}
        <li class="right"><a class="navlia" href="/login">login</a></li>
        <li class="right"><a class="navlia" href="/register">register</a></li>
        {% endif %}
      </ul>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        {% if category not in ["upload", "uploaderror"] %}
        <li class="{{ category }}">{{ message }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      
    {% block content %}{% endblock %}
    </div>
    <div id="footer">
      <a class="footer-link" href="https://www.kulturfonden.fi/"><img class="footer-image" src="{{ url_for('static', filename='images/skf-logo.jpg') }}"></a>
      <a class="footer-link" href="https://www.helsinki.fi/"><img class="footer-image" src="{{ url_for('static', filename='images/university-of-helsinki-logo.png') }}"></a>
      <a class="footer-link" href="https://blogs.helsinki.fi/language-technology/"><img class="footer-image" src="{{ url_for('static', filename='images/lt-logo.png') }}" ></a>
    </div>
  </div>
</body>
</html>
