{% extends "base.html" %}
{% block content %}

<div>
  <div style="padding: 20px; float: left">
    <b>My corpora</b>
    <form style="display: inline" action="/create_corpus"><input type="submit" value="+"></form>
    <ul id="corpora" style="padding-left: 0px">
      {% for corpus in corpora %}
      <li><a href="/show_corpus/{{ corpus }}">{{ corpus }}</a></li>
      {% endfor %}
  </div>
  <div style="padding: 20px; float: left">
    <b>My groups</b>
    <form style="display: inline" action="/create_group"><input type="submit" value="+"></form>
    <ul id="groups" style="padding-left: 0px">
      {% for group in groups %}
      <li>{{ group }}</li>
      {% endfor %}
  </div>
  <div style="padding: 20px; float: right">Search corpus: <input id="searchcorpus">
    <ul id="searchresult"></ul>
  </div>
</div>

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='opus_interface.js') }}"> </script>
{% endblock %}
