{% extends "base.html" %}
{% block content %}

<table class="translation-table" style="margin: auto; margin-top: 25px">
  <tr>
    <td>
      <!-- <input id="finetuned-button", type="checkbox", name="model", value="finetuned">Use fine-tuned model --!>
      <span id="selected-finetune" class="translation-cell-content" model="default" style="white-space: nowrap">Goethe fine-tuned model</span>
    </td>
  </tr>
  <tr>
    <td style="height: 10px" colspan="3"></td>
  </tr>
  <tr>
    <td id="source-language-cell" style="line-height: 210%">
      <span id="selected-source" style="background-color: #D8D8D8" class="translation-cell-content source-languages" direction="de-fi" style="white-space: nowrap">German-Finnish</span>
      <span class="translation-cell-content source-languages" direction="fi-de" style="white-space: nowrap">Finnish-German</span>
    </td>
    <td style="width: 100px"></td>
    <td id="target-language-cell" style="line-height: 210%">
    </td>
  </tr>
  <tr style="clear: both">
    <td style="height: 40px" colspan="3"></td>
  </tr>
  <tr style="height: 200px">
    <td class="translation-cell"><div contenteditable="true" id="sentence" class="translation-box"></div></td>
    <td style="width: 100px; text-align: center">
      <img id="translate" src="{{ url_for('static', filename='images/arrow.png') }}">
    </td>
    <td class="translation-cell"><div id="translation" class="translation-box"></div></td>
  </tr>
  <tr>
    <td style="height: 40px" colspan="3"></td>
  </tr>
</table> 
<script src="static/jquery-3.3.1.min.js"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='goethe.js') }}"> </script>
{% endblock %}
