{% extends "base.html" %}
{% block content %}


<table class="translation-table" style="margin: 50px">
  <tr>
    <td id="source-language-cell">
      <span id="selected-source" class="translation-cell-content source-languages" style="background-color: #D8D8D8" language="fi">Finnish</span>
      <span class="translation-cell-content source-languages" language="sv">Swedish / Norwegian / Danish</span>
      <span class="translation-cell-content source-languages" language="DL">detect language</span>
    </td>
    <td style="width: 40px"></td>
    <td id="target-language-cell">
      <span class="translation-cell-content target-languages" language="fi">Finnish</span>
      <span id="selected-target" class="translation-cell-content target-languages" style="background-color: #D8D8D8" language="sv">Swedish</span>
      <span class="translation-cell-content target-languages" language="no">Norwegian</span>
      <span class="translation-cell-content target-languages" language="da">Danish</span>
      <span id="translate" class="translation-cell-content" style="margin-left: 10%">translate</span>
    </td>
  </tr>
  <tr>
    <td style="height: 40px" colspan="3"></td>
  </tr>
  <tr style="height: 200px">
    <td style="width: 475px"><textarea id="sentence" maxlength="500" style="width: 100%; height: 200px; resize: none; font-size: 20px" autofocus></textarea></td>
    <td style="width: 40px"></td>
    <td style="width: 475px"><textarea id="translation" style="width: 100%; height: 200px; resize: none; font-size: 20px" readonly></textarea></td>
  </tr>
  <tr>
    <td style="height: 40px" colspan="3"></td>
  </tr>
  <tr>
    <td>Support the project:</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="height: 20px" colspan="3"></td>
  </tr>
  <tr>
    <td>upload translation memory</td>
    <td></td>
    <td>upload translated documents</td>
  </tr>
  <tr>
    <td rowspan="2" valign="top">
      <form id="upload-tm-form" method="post" enctype="multipart/form-data">
	<table>
	  <tr>
	    <td><input id="tm-file" type="file" name="tm-file"></td>
	  </tr>
	  <tr>
	    <td><input id="upload-tm-button" type="submit" name="upload-tm-button" value="upload"></td>
	  </tr>
	</table>
      </form>
    </td>
    <td></td>
    <td rowspan="3">
      <form id="upload-tm-form" method="post" enctype="multipart/form-data">
	<table>
	  <tr>
	    <td>original:</td>
	    <td><input id="original-doc" type="file" name="original-doc"></td>
	  </tr>
	  <tr>
	    <td>translation:</td>
	    <td><input id="translation-doc" type="file" name="translation-doc"></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td><input id="upload-files-button" type="submit" name="upload-files-button" value="upload"></td>
	  </tr>
	</table>
      </form>
  </tr>
</table>

<!--
<div class="container">
    
  <select id="direction">
   
    <option value="sv-fi">da/no/sv-fi</option>
    <option value="fi-da">fi-da</option>
    <option value="fi-no">fi-no</option>
    <option value="fi-sv">fi-sv</option>
  </select>
  <button id="translate">Translate</button>
  <br><br>
  <div overflow="none">
    <div style="float: left;">
      <textarea id="sentence" maxlength="500" rows="4" cols="30" style="font-size: 20px" autofocus></textarea>
    </div>
    <div style="margin-left: 450px;">
      <textarea id="translation" rows="4" cols="30" style="font-size: 20px;" readonly></textarea>
    </div>
  </div>
  <br><br>
  <button id="suggestionbutton" style="display: none">Suggest a better translation</button>
  <button id="reportbutton" style="display: none">Report a bad translation</button>
  <p style="color: green"><span id="suggestionmessage"></span> <span id="reportmessage"></span><p>
    <div id="asksuggestion" style="display: none;" overflow="none">
      <div style="float: left;">
	<span>Source text:</span>
	<br>
	<textarea id="source" rows="4" cols="30" style="font-size: 20px;" readonly></textarea>
      </div>
      <div style="margin-left: 450px">
	<span>Your translation:</span>
	<br>
	<textarea id="suggestion" maxlength="500" rows="4" cols="30" style="font-size: 20px;"></textarea>
      </div>
      <br>
      <button id="suggest">Submit</button>
      <span style="display: none" id="sourcedirection"></span>
    </div>
</div>
<div style="display: none" id="trash-div">
  Mark the words that are rubbish or
  <button id="trash-sentence">Mark the whole text</button> :
  <br><br>
  <div id="words"></div>
  <br><br>
  <button id="report">Submit</button>
</div>
-->

<script src="static/jquery-3.3.1.min.js"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='functionality.js') }}"> </script>
{% endblock %}
