<div class="container">
  <h4>Create UI</h4>
  <form >
    <dl>
      <dt>Key</dt>
      <dd><input type="password" placeholder="****************"></dd>
      <dt>Name</dt>
      <dd><input type="text" placeholder="Celtic"></dd>
      <dt>Name color</dt>
      <dd><input type="text" placeholder="white"></dd>
      <dt>Banner color</dt>
      <dd><input type="text" placeholder="black"></dd>
      <dt>Languages</dt>
      <dd><input type="text" placeholder="ga cy br gd kw gv <-> en"></dd>
    </dl>
    <p><input type=submit value=Submit></p>
  </form>

</div>
