{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h4>Register</h4>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/register/">
      <dl>
	{{render_field(form.username)}}
	{{render_field(form.email)}}
	{{render_field(form.password)}}
	{{render_field(form.confirm)}}
      </dl>
      <p><input type=submit value=Register></p>
    </form>

    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

  </div>
{% endblock %}
