{% extends "base.html" %}
{% block content %}

<h3>Upload file</h3>

<form id="upload_form" method="post" enctype="multipart/form-data" style="padding: 20px">
  <table style="float: left; padding-right: 20px">
    <tr>
      <td align="right">select file:</td>
      <td><input id="file" type="file" name="file"></td>
    </tr>
    <tr>
      <td align="right">file format:</td>
      <td>
	<select name="format" form="upload_form">
	  {% for format in formats %}
	  {% if format == selectedformat %}
	  <option value="{{ format }}" selected>{{ format }}</option>
	  {% else %}
	  <option value="{{ format }}">{{ format }}</option>
	  {% endif %}
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td align="right">language:</td>
      <td>
	<select name="language" form="upload_form">
	  {% for language in languages %}
	  {% if language == selectedlanguage %}
	  <option value="{{ language }}" selected>{{ language }}</option>
	  {% else %}
	  <option value="{{ language }}">{{ language }}</option>
	  {% endif %}
	  {% endfor %}
	</select>
      </td>
    </tr>    
    <tr>
      <td align="right">translation: </td>
      {% if translation %}
      <td><input type="checkbox" name="translation" checked></td>
      {% else %}
      <td><input type="checkbox" name="translation"></td>
      {% endif %}
    </tr>
    <tr>
      <td align="right">automatic import:</td>
      {% if autoimport %}
      <td><input type="checkbox" name="autoimport" checked></td>
      {% else %}
      <td><input type="checkbox" name="autoimport"></td>
      {% endif %}
    </tr>
    <tr>
      <td align="right">internal path:</td>
      <td><input type="text" name="path" value="testpath" readonly></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="submit" value="Upload"></td>
    </tr>
  </table>
  <span style="float: left; padding-right: 10px">description:</span>
  <textarea style="float: left" rows="10" cols="40" name="description">{{ description }}</textarea>
</form>

{% endblock %}
