{% extends "base.html" %}
{% block content %}

<ul id="messages">
</ul>

<h3>Upload file</h3>

<form id="upload_form" method="post" enctype="multipart/form-data" style="padding: 20px">
  <table style="float: left; padding-right: 20px">
    <tr>
      <td align="right">select file:</td>
      <td><input id="file" type="file" name="file"></td>
    </tr>
    <tr>
      <td align="right">file format:</td>
      <td>
	<select id="format" name="format" form="upload_form">
	  {% for format in formats %}
	  {% if format == selectedformat %}
	  <option value="{{ format }}" selected>{{ format }}</option>
	  {% else %}
	  <option value="{{ format }}">{{ format }}</option>
	  {% endif %}
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td align="right">language:</td>
      <td>
	<select id="language" name="language" form="upload_form">
	  {% for language in languages %}
	  {% if language == selectedlanguage %}
	  <option value="{{ language }}" selected>{{ language }}</option>
	  {% else %}
	  <option value="{{ language }}">{{ language }}</option>
	  {% endif %}
	  {% endfor %}
	</select>
      </td>
    </tr>    
    <tr>
      <td align="right">original:</td>
      <td>
	<input id="original" value="original" type="radio" name="direction">
	translation:
	<input id="translation" value="translation" type="radio" name="direction">
      </td>
    </tr>
    <tr>
      <td align="right">automatic import:</td>
      {% if autoimport %}
      <td><input id="autoimport" type="checkbox" name="autoimport" checked></td>
      {% else %}
      <td><input id="autoimport" type="checkbox" name="autoimport"></td>
      {% endif %}
    </tr>
    <tr>
      <td align="right">internal path:</td>
      <td><input id="path" type="text" name="path" size="30" readonly></td>
    </tr>
    <tr>
      <td></td>
      <td><input id="uploadbutton" type="submit" name="submit" value="Upload"></td>
    </tr>
  </table>
  <span style="float: left; padding-right: 10px">description:</span>
  <textarea id="description" style="float: left" rows="10" cols="40" name="description">{{ description }}</textarea>
</form>

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='upload_file.js') }}"> </script>
{% endblock %}
